<h1>Send a message</h1>

<%= form_for [:admin, @conversation] do |f| %>

  <%= f.fields_for :messages do |m| %>
    <%= m.hidden_field :recipient_ids_string, value: @message.recipient_ids.join(",") %>

    <div class="form-group">
      <label for="conversation_message_content">Content</label>
      <%= m.text_area :content, id: 'conversation_message_content' %>
    </div>

  <% end %>
  
  <%= f.submit t('tincanz.messages.create') %>
<% end %>