<h1>New Message</h1>

<%= form_for [:admin, @message], url: admin_messages_path do |f| %>

  <%= f.hidden_field :conversation_id, value: @message.conversation_id %>

  <%= f.hidden_field :user_id, value: tincanz_user.id %>

  <%= f.hidden_field :recipient_ids_string, value: @message.recipient_ids.join(",") %>
 
  <%= f.hidden_field :reply_to_id, value: @message.reply_to_id %>

  <div class="form-group">
    <label for='message_content'>Content</label>
    <%= f.text_field :content, rows: 5 %>
  </div>
            
  <%= f.submit 'Send' %>

<% end %>