<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="tincanz <%= controller_name %> <%= action_name %>">
  <% flash.each do |key, message| %>
    <div class='flash <%= key %>'><%= message %></div>
  <% end %>
  
<%= yield %>

</body>
</html>
