<!DOCTYPE html>
<html>
<head>
  <title>Tincanz</title>
  <%= stylesheet_link_tag    "tincanz/application", media: "all" %>
  <%= javascript_include_tag "tincanz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, message| %>
    <div class='flash <%= key %>'><%= message %></div>
  <% end %>

  <%= yield %>

</body>
</html>
